[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = {version = "*",index = "pypi"}
setuptools = {version = "*",index = "pypi"}
twine = {version = "*",index = "pypi"}
setuptools-odoo = {version = "*",index = "pypi"}

[packages]
